$primary: #37b44e;

html, body, #app {
  height: 100%;
}

body {
  background-color: #aab1b8b6;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: black;
}

* { 
  outline: none !important; 
}

h1 {
  font-size: 22px;
}

.undecorated {
  color: black;
  text-decoration: none;
}

.search-bar {
  // max-width: 500px;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;

  input {
    padding: 10px 15px !important;
  }
}

// remove the underline from material-ui textfields
.search-bar .MuiInputBase-root {
  border-bottom: none !important;
  &:before {
    border-bottom: none !important;
  }
  &:after {
    border-bottom: none !important;
  }
}