.exercise-container {
  max-width: 500px;
  width: 100%;
}

#select-filters {
  display: none;
}

.exercise {
  // max-width: 500px;
  width: 100%;
  border: 1px solid #403939;
  height: 120px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  // cursor: pointer;

  &:hover {
    box-shadow: 5px 6px 8px 5px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  }
}

.filter-container {
  // padding-right: 30px;
}

.wrapped .exercise {
  width: 100%;
}

@media (max-width: 800px) {
  #exercises-container {
    flex-direction: column;
    align-items: center;
  }

  .filter-container {
    padding: 0;
    margin-bottom: 20px;
    flex-grow: 1;
    width: 100%;
    max-width: 500px;
  }

  .filter-list {
    display: flex;
    justify-content: space-between;
    >div {
      width: 43%;
    }
  }

  #select-filters {
    display: block;
  }
  #checkbox-filters {
    display: none;
  }
}