.routine-container {
  max-width: 500px;
  width: 100%;
}

tbody td {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

th:nth-of-type(2), td:nth-of-type(2), th:nth-of-type(3), td:nth-of-type(3) {
  text-align: center;
}

@media (max-width: 800px) {
  #routines-container {
    flex-direction: column;
    align-items: center;
  }
}